.grid-block,
.main,
.projects,
.project,
.rateBooks,
.rateBook,
.companies,
.company,
.opportunities,
.opportunity,
.contacts,
.contact,
.projectRole,
.projectRoles,
.roles,
.skills,
.resources,
.timelinechart,
.panel-group {
    background: #9E9A41;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 15px rgba(0, 50, 50, 0.45);
}
.panel {
    border-bottom: 1;
    background-color: #F6EED8;
    box-shadow: 0 4px 15px rgba(0, 50, 50, 0.35);
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
}
.panel.panel-default {
    background-color: #F6EED8;
    border-color: #7A6A53;
    border-radius: 2px;
}
.panel-body {
    border-radius: 2px;
}
.btn-group {
    box-shadow: 0 4px 6px rgba(0, 50, 50, 0.15);
    border-radius: 2px;
}
.btn.btn-default {
    background-color: #D9CEB2;
    border-color: #F6EED8;
}
.btn.btn-default:hover {
    background-color: #D9CEB2;
    border-color: #7A6A53;
}
a {
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.hideA {
    text-decoration: none;
    font-weight: normal;
}
.hideA:hover {
    text-decoration: none;
    font-weight: normal;
}
.navbar {
    margin-bottom: 10px;
}
.navbar.navbar-inverse {
    background-color: #4C4234;
    color: #F6EED8;
}
.navbar.navbar-inverse a {
    color: #F6EED8;
}
ul.nav.navbar-nav li a {
    color: #F6EED8;
}
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}
#spinner {
    height: 300px
}
.form-horizontal .form-control-static {
    padding-top: 5px;
}
.loginButton {
    padding-top: 8px;
    padding-right: 5px;
}
.dropdown-menu {
    min-width: 5px !important;
}