.vis.timeline .item {
    border-color: #7A6A53;
    background-color: #F6EED8;
    color: #4C4234;
    border-width: 2px;
    box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.5);
}
.vis.timeline .item.selected {
    border-color: #F6EED8;
    background-color: #4C4234;
    color: #D9CEB2;
    border-width: 2px;
    font-weight: bold;
}
.vis.timeline .timeaxis .text {
      color: #4C4234;
      padding-top: 10px;
      padding-left: 10px;
    }

.vis.timeline.root {
    border: 0px solid #4C4234;
    background: #B1AE66;
    border-radius: 3px;
}